@model Eventmanagement.Models.Users.Moderator

<h4>@(Model.Moderator_FirstName)'s-Profil</h4>
<h6><span class="text-danger">ID: </span>@Model.Moderator_Id</h6>

<div class="row align-items-center">
    <div class="col-3">
        @{
            var rawPath = Model.Moderator_ProfileImage;

            if (Model.Moderator_IsBlocked)
            {
                rawPath = "~/images/default_moderator_blocked-V1.png";
            }
            else if (string.IsNullOrEmpty(rawPath))
            {
                rawPath = "~/images/default_moderator_active-V1.png";
            }
            else
            {
                rawPath += "?v=" + DateTime.Now.Ticks;
            }

            var imagePath = Url.Content(rawPath);
        }
        <img src="@imagePath" class="img-thumbnail mt-2 mb-2" style="width: 300px;" />

        <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#imageModal">Bild ändern</button>
    </div>

    <div class="col-9">
        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Name</div>
            <div class="col-8">
                <div>@Model.Moderator_FirstName @Model.Moderator_LastName</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#nameModal">Name ändern</button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Webseite</div>
            @{
                var website = Model.Moderator_WebSiteURL;
                if (!string.IsNullOrEmpty(website) && !website.StartsWith("http"))
                {
                    website = "https://" + website;
                }
            }
            <div class="col-8">
                <div><a href="@website" target="_blank">@website</a></div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#websiteModal">Webseite ändern</button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Geburtsdatum</div>
            <div class="col-8">
                <div>@Model.Moderator_DateOfBirth.ToShortDateString()</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#birthdayModal">Geburtsdatum ändern</button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Telefon</div>
            <div class="col-8">
                <div>@Model.Moderator_Phone</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#phoneModal" style="width: 300px;">
                    Telefon ändern
                </button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">E-Mail</div>
            <div class="col-8">
                <div>@Model.Moderator_Email</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#emailModal" style="width: 300px;">
                    E-Mail ändern
                </button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Passwort</div>
            <div class="col-8">
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#passwordModal" style="width: 300px;">
                    Passwort ändern
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row align-items-center mt-2">
    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-12 row">
            <div class="col-2 fw-bold">Honorar (Brutto)</div>
            <div class="col-2">@Model.Moderator_EventSalary €</div>
        </div>
        <button class="ms-3 btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#salaryModal" style="width: 300px;">
            Honorar ändern
        </button>
    </div>

    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-2 fw-bold">Registriert am</div>
        <div class="col-2">@Model.Moderator_RegistrationDate</div>

        <div class="col-2 fw-bold">Benutzerstatus</div>
        <div class="col-2">@Model.Moderator_IsBlocked</div>

        <div class="col-2 fw-bold">Profilbild</div>
        <div class="col-2" style="font-size: 10px;">@Model.Moderator_ProfileImage</div>
    </div>

    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-2 fw-bold">Biografie</div>
        <div class="col-10">
            @Model.Moderator_ProfileBio
        </div>

        <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#bioModal">
            Bio anlegen oder ändern
        </button>
    </div>
</div>

<!-- MODALS -->
@* Bild ändern *@
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserImage" method="post" enctype="multipart/form-data">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="imageModalLabel">Profilbild ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <input type="file" name="imageFile" class="form-control" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Bio *@
<div class="modal fade" id="bioModal" tabindex="-1" aria-labelledby="bioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserBio" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="bioModalLabel">Biografie speichern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <textarea name="bio" class="form-control">@Model.Moderator_ProfileBio</textarea>
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* E-Mail *@
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserEmail" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="emailModalLabel">E-Mail ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <input name="email" class="form-control" value="@Model.Moderator_Email" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Geburtsdatum ändern *@
<div class="modal fade" id="birthdayModal" tabindex="-1" aria-labelledby="birthdayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserBirthday" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="birthdayModalLabel">Geburtsdatum ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <label for="birthday" class="form-label">Neues Geburtsdatum</label>
                    <input name="birthday" class="form-control" value="@Model.Moderator_DateOfBirth.ToString("yyyy-MM-dd")" type="date" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Honorar ändern *@
<div class="modal fade" id="salaryModal" tabindex="-1" aria-labelledby="salaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserSalary" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="salaryModalLabel">Honorar ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <label for="salary" class="form-label">Neues Honorar</label>
                    <input name="salary" class="form-control" value="@Model.Moderator_EventSalary" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Name ändern *@
<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="nameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserName" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="nameModalLabel">Name ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <label for="firstName" class="form-label">Neuer Vorname</label>
                    <input name="firstName" class="form-control" value="@Model.Moderator_FirstName" />
                    <label for="lastName" class="form-label">Neuer Nachname</label>
                    <input name="lastName" class="form-control" value="@Model.Moderator_LastName" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Passwort *@
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserPassword" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="passwordModalLabel">Passwort ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <input name="newPassword" type="password" class="form-control" placeholder="Neues Passwort" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Telefon ändern *@
<div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserPhone" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="phoneModalLabel">Telefonnummer ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <label for="phone" class="form-label">Neue Telefonnummer</label>
                    <input name="phone" class="form-control" value="@Model.Moderator_Phone" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Webseite ändern *@
<div class="modal fade" id="websiteModal" tabindex="-1" aria-labelledby="websiteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserWebsite" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="websiteModalLabel">Webseite ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Moderator_Id" />
                    <label for="website" class="form-label">Neue Webseite</label>
                    <input name="website" class="form-control" value="@Model.Moderator_WebSiteURL" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
