@model IEnumerable<Eventmanagement.Models.Events.EventBasics>

@{
    ViewData["Title"] = "Veranstaltungsübersicht";
    var organizer = ViewBag.Organizer as Eventmanagement.Models.Users.Organizer;
}

<p class="d-flex gap-3">
    <a asp-action="Create" asp-controller="EventDesigner" asp-route-locationId="@organizer?.Organizer_Id.ToString()" class="btn btn-outline-primary">Veranstaltung anlegen</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Titel</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Kategorie</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Typ</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Ort</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Teilnehmerzahl</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Start</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Ende</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Veröffentlicht</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Ticketverkauf offen</h6>
                </div>
            </th>
            <th>
                <div class="justify-content-center align-content-center">
                    <h6 style="font-size: 16px;">Aktionen</h6>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(e => e.StartDate).ThenBy(e => e.StartTime))
        {
            <tr>
                <td style="font-size: 12px;" class="align-content-center">
                    <div class="border border-info-subtle shadow-sm rounded-2 justify-content-center align-content-center align-items-center p-2">
                        <a asp-action="EventDetails" asp-route-id="@item.Event_Id" class="text-decoration-none fw-bold text-center">@item.Title</a>
                    </div>
                </td>
                <td style="font-size: 12px;" class="align-content-center">
                    @Html.DisplayFor(m => item.Category)
                </td>
                <td style="font-size: 12px;" class="align-content-center">
                    @Html.DisplayFor(m => item.Type)
                </td>
                <td style="font-size: 12px;" class="align-content-center">
                    @item.Location?.Location_CompanyName
                </td>
                <td style="font-size: 12px;" class="align-content-center">
                    @(item.MaxParticipants > 0 ? item.MaxParticipants.ToString() : "–")
                </td>
                <td style="font-size: 12px; width: 70px;" class="align-content-center">
                    @item.StartDate.ToShortDateString() <br /> @item.StartTime
                </td>
                <td style="font-size: 12px; width: 70px;" class="align-content-center">
                    @item.EndDate.ToShortDateString() <br /> @item.EndTime
                </td>
                <td style="font-size: 16px;" class="align-content-center">
                    <div class="border border-dark rounded-2 text-center p-2 @(item.IsPublished ? "bg-success-subtle" : "bg-danger-subtle")" style="width: 105px; font-size: 11px;">
                        @(item.IsPublished ? "Veröffentlicht" : "Unveröffentlicht")
                    </div>
                </td>
                <td style="font-size: 16px;" class="align-content-center">
                    <div class="border border-dark rounded-2 text-center pt-2 pb-2 @(item.TicketSaleOpen ? "bg-success-subtle" : "bg-danger-subtle")" style="width: 150px; font-size: 11px;">
                        @(item.TicketSaleOpen ? "Ticketverkauf offen" : "Ticketverkauf geschlossen")
                    </div>
                </td>
                <td style="width: 100px;" class="align-top">
                    <div class="d-grid gap-1">
                        <a style="font-size: 12px;" class="btn btn-sm btn-warning text-dark border-dark"
                           asp-action="Edit"
                           asp-controller="EventDesigner"
                           asp-route-id="@item.Event_Id">
                            Edit
                        </a>
                        <form asp-action="Delete" asp-controller="EventDetails" asp-route-id="@item.Event_Id" method="post" class="d-grid">
                            <button style="font-size: 12px;" type="submit" class="btn btn-sm btn-danger text-light border-dark">
                                Löschen
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
