@model Eventmanagement.Models.Users.Performer

<h4>@(Model.Performer_Name)'s-Profil</h4>
<h6><span class="text-danger">ID: </span>@Model.Performer_Id</h6>

<div class="row align-items-center">
    <div class="col-3">
        @{
            var rawPath = Model.Performer_ProfileImage;

            if (Model.Performer_IsBlocked)
            {
                rawPath = "~/images/default_performer_blocked-V1.png";
            }
            else if (string.IsNullOrEmpty(rawPath))
            {
                rawPath = "~/images/default_performer_active-V1.png";
            }
            else
            {
                rawPath += "?v=" + DateTime.Now.Ticks;
            }

            var imagePath = Url.Content(rawPath);
        }
        <img src="@imagePath" class="img-thumbnail mt-2 mb-2" style="width: 300px;" />

        <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#imageModal">Bild ändern</button>
    </div>

    <div class="col-9">
        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Name</div>
            <div class="col-8">@Model.Performer_Name</div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Webseite</div>
            @{
                var website = Model.Performer_WebSiteURL;
                if (!string.IsNullOrEmpty(website) && !website.StartsWith("http"))
                {
                    website = "https://" + website;
                }
            }
            <div class="col-8">
                <div><a href="@website" target="_blank">@website</a></div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#websiteModal">Webseite ändern</button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Geburtsdatum/Gründungsdatum</div>
            <div class="col-8">@Model.Performer_DateOfBirth.ToShortDateString()</div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Management</div>
            <div class="col-8">
                <div>@Model.Performer_Management</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#managementModal">Management ändern</button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Telefon (Management)</div>
            <div class="col-8">
                <div>@Model.Performer_Phone</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#phoneModal" style="width: 300px;">
                    Telefon ändern
                </button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">E-Mail</div>
            <div class="col-8">
                <div>@Model.Performer_Email</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#emailModal" style="width: 300px;">
                    E-Mail ändern
                </button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Passwort</div>
            <div class="col-8">
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#passwordModal" style="width: 300px;">
                    Passwort ändern
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row align-items-center mt-2">
    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-3 fw-bold">Honorar (Brutto)</div>
        <div class="col-3">@Model.Performer_EventSalary €</div>
    </div>

    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-3 fw-bold">Registriert am</div>
        <div class="col-3">@Model.Performer_RegistrationDate</div>

        <div class="col-3 fw-bold">Benutzerstatus</div>
        <div class="col-3">@Model.Performer_IsBlocked</div>
    </div>

    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-3 fw-bold">Biografie</div>
        <div class="col-9">
            @Model.Performer_ProfileBio
        </div>

        <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#bioModal">
            Bio anlegen oder speichern
        </button>
    </div>
</div>

<!-- MODALS -->
@* Bild ändern *@
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UploadUserImage" method="post" enctype="multipart/form-data">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="imageModalLabel">Profilbild ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Performer_Id" />
                    <input type="file" name="imageFile" class="form-control" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Bio *@
<div class="modal fade" id="bioModal" tabindex="-1" aria-labelledby="bioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserBio" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="bioModalLabel">Biografie speichern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Performer_Id" />
                    <textarea name="bio" class="form-control">@Model.Performer_ProfileBio</textarea>
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-outline-light text-dark border-dark">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* E-Mail *@
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserEmail" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="emailModalLabel">E-Mail ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Performer_Id" />
                    <input name="email" class="form-control" value="@Model.Performer_Email" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Management ändern *@
<div class="modal fade" id="managementModal" tabindex="-1" aria-labelledby="managementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateManagement" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="managementModalLabel">Management ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Performer_Id" />
                    <label for="management" class="form-label">Neue Ansprechperson</label>
                    <input name="management" class="form-control" value="@Model.Performer_Management" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-outline-light text-dark border-dark">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Passwort *@
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserPassword" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="passwordModalLabel">Passwort ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Performer_Id" />
                    <input name="newPassword" type="password" class="form-control" placeholder="Neues Passwort" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Telefon ändern *@
<div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserPhone" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="phoneModalLabel">Telefonnummer ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Performer_Id" />
                    <label for="phone" class="form-label">Neue Telefonnummer</label>
                    <input name="phone" class="form-control" value="@Model.Performer_Phone" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Webseite ändern *@
<div class="modal fade" id="websiteModal" tabindex="-1" aria-labelledby="websiteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateWebsite" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="websiteModalLabel">Webseite ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Performer_Id" />
                    <label for="website" class="form-label">Neue Webseite</label>
                    <input name="website" class="form-control" value="@Model.Performer_WebSiteURL" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
