@model Eventmanagement.Models.Users.Customer

<h4>@(Model.Customer_FirstName)'s-Profil</h4>

<div class="row align-items-center">
    <div class="col-3">
        @{
            var rawPath = Model.Customer_ProfileImage;

            if (Model.Customer_IsBlocked)
            {
                rawPath = "~/images/default_customer_blocked-V1.png";
            }
            else if (string.IsNullOrEmpty(rawPath))
            {
                rawPath = "~/images/default_customer_active-V1.png";
            }
            else
            {
                rawPath += "?v=" + DateTime.Now.Ticks;
            }

            var imagePath = Url.Content(rawPath);
        }
        <img src="@imagePath" class="img-thumbnail mt-2 mb-2" style="width: 300px;" />

        <button class="btn btn-sm btn-dark bg-gradient mt-2" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#imageModal">Bild ändern</button>
    </div>

    <div class="col-9">
        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Name</div>
            <div class="col-8">@Model.Customer_FirstName @Model.Customer_LastName</div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Geburtsdatum</div>
            <div class="col-8">@Model.Customer_DateOfBirth.ToShortDateString()</div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Adresse</div>
            <div class="col-8">
                <div>@Model.Customer_StreetName @Model.Customer_StreetNumber @Model.Customer_ApartmentNumber</div>
                <div>@Model.Customer_ZIP @Model.Customer_City, @Model.Customer_State</div>
                <div>@Model.Customer_Country</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#addressModal" style="width: 300px;">
                    Adresse ändern
                </button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Telefon</div>
            <div class="col-8">
                <div>@Model.Customer_Phone</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#phoneModal" style="width: 300px;">
                    Telefon ändern
                </button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">E-Mail</div>
            <div class="col-8">
                <div>@Model.Customer_Email</div>
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#emailModal" style="width: 300px;">
                    E-Mail ändern
                </button>
            </div>
        </div>

        <div class="col-12 row mt-1 mb-2">
            <div class="col-4 fw-bold">Passwort</div>
            <div class="col-8">
                <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#passwordModal" style="width: 300px;">
                    Passwort ändern
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row align-items-center mt-2">
    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-3 fw-bold">Registriert am</div>
        <div class="col-3">@Model.Customer_RegistrationDate</div>

        <div class="col-3 fw-bold">Benutzerstatus</div>
        <div class="col-3">@Model.Customer_IsBlocked</div>
    </div>

    <div class="col-12 row d-row mt-1 mb-2">
        <div class="col-3 fw-bold">Biografie</div>
        <div class="col-9">
            @Model.Customer_ProfileBio
        </div>

        <button class="btn btn-sm btn-dark bg-gradient mt-2" data-bs-toggle="modal" data-bs-target="#bioModal">
            Bio anlegen oder ändern
        </button>
    </div>
</div>


<!-- MODALS -->
@* Adresse ändern *@
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form asp-action="UpdateUserAdress" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="addressModalLabel">Adresse ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Customer_Id" />

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label class="form-label">Straße</label>
                            <input name="streetName" class="form-control" value="@Model.Customer_StreetName" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Nr.</label>
                            <input name="streetNumber" class="form-control" value="@Model.Customer_StreetNumber" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Top</label>
                            <input name="apartmentNumber" class="form-control" value="@Model.Customer_ApartmentNumber" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label class="form-label">PLZ</label>
                            <input name="zip" class="form-control" value="@Model.Customer_ZIP" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Stadt</label>
                            <input name="city" class="form-control" value="@Model.Customer_City" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Bundesland</label>
                            <input name="state" class="form-control" value="@Model.Customer_State" />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Land</label>
                        <input name="country" class="form-control" value="@Model.Customer_Country" />
                    </div>
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Bild ändern *@
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UploadUserImage" method="post" enctype="multipart/form-data">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="imageModalLabel">Profilbild ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Customer_Id" />
                    <input type="file" name="imageFile" class="form-control" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Bio *@
<div class="modal fade" id="bioModal" tabindex="-1" aria-labelledby="bioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserBio" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="bioModalLabel">Biografie speichern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Customer_Id" />
                    <textarea name="bio" class="form-control">@Model.Customer_ProfileBio</textarea>
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* E-Mail *@
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserEmail" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="emailModalLabel">E-Mail ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Customer_Id" />
                    <input name="email" class="form-control" value="@Model.Customer_Email" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Passwort *@
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserPassword" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="passwordModalLabel">Passwort ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Customer_Id" />
                    <input name="newPassword" type="password" class="form-control" placeholder="Neues Passwort" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Telefon ändern *@
<div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUserPhone" method="post">
                <div class="modal-header" style="background: linear-gradient(-90deg, #abcdef, #fedcba);">
                    <h5 class="modal-title" id="phoneModalLabel">Telefonnummer ändern</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Customer_Id" />
                    <label for="phone" class="form-label">Neue Telefonnummer</label>
                    <input name="phone" class="form-control" value="@Model.Customer_Phone" />
                </div>
                <div class="modal-footer" style="background: linear-gradient(90deg, #abcdef, #fedcba);">
                    <button class="btn btn-sm btn-danger-subtle btn-outline-dark" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-sm btn-primary-subtle btn-outline-light text-dark border-dark" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
