@model Eventmanagement.Models.Locations.SeatUnit

@{
    ViewData["Title"] = "Details";

    var locationId = Model.Location_Id;
}

<h1>Details</h1>

<div>
    <h4>SeatUnit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Location_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block_Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block_Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level_Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level_Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Box)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Box)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Box_Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Box_Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Row)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Row)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Row_Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Row_Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat_Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat_Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStandingArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStandingArea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeatUnit_Id">Edit</a> |
    <a asp-action="Index" asp-route-locationId="@locationId">Zurück zur Übersicht</a>
</div>
